body{
  position: relative;
  font-family: "Titilium Web", sans-serif;
  font-size: 100%;
  font-size: 1em;
  line-height: 28px;
  word-wrap: break-word;
  margin: auto;
  color: white !important;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 2.875em !important;
  letter-spacing: 10px;
  text-transform: uppercase;
}

h2{
  font-size: 1.68em !important;
  text-transform: uppercase;
}

main hr{
  width: 120px;
  border-width: 5px;
  border-color: #688A55;
  margin: 0 0 0;
  margin-top: 10px;
  margin-bottom: 15px;
}

header hr{
  width: 250px;
  border-width: 5px;
  border-color: #688A55;
  margin: 0 0 0;
  margin-top: 10px;
  margin-bottom: 15px;
}

footer hr{
  width: 100%;
  border-width: 3px;
  border-color: #688A55;
  margin: 0 0 0;
  margin-bottom: 20px;

}

h3{
font-size: 1em;
}

h1 , h2 , h3 {
  font-family: 'Francois One', sans-serif;
  color: #2F632F
}

header p{
font-size: 2.875em;
}

header .row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}

span{
  font-size: 2.25em;
  font-weight: bold;
}

.container__header{
  max-width: 1200px !important;
  margin-left: auto;
  margin-right: auto;
}

.container{
  max-width: 1200px !important;
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
.text__header{
margin: auto;
}

footer{
  text-align: right;
}

.container__footer{

  max-width: 1200px !important;
  width: 90%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 15px;
}

.img__twi {
  border-radius: 30%; }

.img__dri {
  border-radius: 30%; }

.img__face {
  border-radius: 30%; }

.img__icons{
  margin: auto;
  display: inline-block;
}
/** NAVIGATION **/
nav {
  width: 100%;
  max-width: 960px !important;
  margin-left: auto;
  display: block;
  margin-right: auto;
  text-transform: uppercase;
}

nav ul li {
  display:inline-block;  
}

nav a {
  color:white;
  display:block;
  text-decoration: none;
  padding:10px 30px;
}

nav a:hover {
  background: #688A55;
  color:white;
  text-decoration: none;
  border-radius: 50px;
}

.menu-trigger {
  display:none;
  color:#F8ECC2;
}

@media screen and (max-width:500px) {
  .menu-trigger {
    display:block;
  }
  nav ul li {
    display:block;
    border-top:1px #79896D solid;    
  }
  nav ul {
    display:none;
  }
}

.cindy__header{
  width: 97%;
  margin-top: -15px;
  max-width: 700px;
}

.cindy__section{
  max-width: 200px;
  margin: auto;
  display: block;
}

@media screen and (max-width:770px) {
  .cindy__header{
    max-width: 400px;
    display: block;
    position: relative;
    margin-top: 15px;
  }
}

header , #infos , #expe, footer{
  background-color: #BD623C;
}

#propos , #savoir , #portefolio , #contact{
  background-color: #573E3E;
}

.infos{
  font-weight: bold;
}
/** LIGNE DU TEMPS **/
#timeline {
list-style: none;
padding-left: 30px;
border-left: 8px solid #688A55;
}
#timeline  li {
  position: relative;
  height: 200px;
}
#timeline label{
  font-weight: bold;
}
.relative{
  top: 4px;
  position: relative;
}
#timeline  p {
  margin: 0 0 15px;
}

.circle {
margin-top: -10px;
top: 50%;
left: -47px;
width: 25px ;  
height: 25px;
border: 5px solid #688A55;
border-radius: 50%;
display: block;
position: absolute;
}
.content {
max-height: 20px;
padding: 10px 20px 0;
border-color: transparent;
position: relative;
}
label{
z-index: 100;
-webkit-transition: -webkit-transform 0.2s linear;
}
.radio {
display: none;
}
.circle {
     background: #573E3E; 
  }
.radio .content p {
    max-height: 200px;
    color: #eee9dc;
    -webkit-transition: color 0.3s linear 0.3s;
}


/* PROJET */
.projets {
  width: 220px;
  height: 220px;
  position: relative;
  margin-top: 20px;
text-align: center;
margin-right: auto; 
margin-left:  auto;}

.projets img{
  width: 220px;
  height: 220px;
}

.projets:hover .text {
  opacity: 1; }

.projets p, h3{
text-align: center;
}

.projets .text {
  color: #FFF;
  width: 220px;
  height: 220px;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  top: 0;
  opacity: 0;
  display: block;
  position: absolute;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out; }

